<div *ngIf="customer">
  <pre>{{customer | json}}</pre>
  <input [(ngModel)]="customer.firstName" placeholder="name"/>
  <input [(ngModel)]="customer.lastName" placeholder="last name"/>
  <input [(ngModel)]="customer.email" placeholder="email"/>
  <button (click)="save(customer)">Save</button>
</div>
