<h2>My Developers</h2>
<md-card>
  <md-list dense>
    <md-list-item *ngFor="let developer of developers" (click)="onSelect(developer)">
      <p md-line><span> {{developer.firstName}}</span> <span>{{developer.lastName}}</span> </p>
      <button>View</button>
    </md-list-item>
  </md-list>
</md-card>

<div *ngIf="selectedDev">
  <h2>
    {{selectedDev.firstName | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
