<h2>Customers List</h2>
Count {{count}}
<div *ngFor="let customer of customers">
    <button (click)="remove(customer.id)" type="button" name="button">remove</button>
    <customer [customers]="customer"></customer>
</div>

<!-- <input [(ngModel)]="data.firstName" placeholder="name" />
<button (click)="save(data)">Save</button> -->
