<!-- <div *ngIf="developer">
  <h2>{{developer.firstName}} details!</h2>
  <md-input   placeholder="first name" align="start"[(ngModel)]="developer.firstName" maxLength="15"></md-input>
  <md-input   placeholder="last name" align="start" [(ngModel)]="developer.lastName"></md-input>
  <md-input   placeholder="email" align="start" [(ngModel)]="developer.email"></md-input>
  <button md-raised-button (click)="goBack()">Back</button>
  <button md-raised-button color="primary" (click)="save(developer)">Save</button>
</div> -->
<div *ngIf="developer">
  <md-card>
    <md-card-title>{{developer.firstName}}
      details!</md-card-title>
    <md-card-content>
      <p>
        <md-input placeholder="first name" align="start" [(ngModel)]="developer.firstName" maxLength="15"></md-input>
      </p>
      <p>
        <md-input placeholder="last name" align="start" [(ngModel)]="developer.lastName"></md-input>
      </p>
      <p>
        <md-input placeholder="email" align="start" [(ngModel)]="developer.email"></md-input>
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button (click)="goBack()">Back</button>
      <button md-raised-button color="primary" (click)="save(developer)">Save</button>
    </md-card-actions>
  </md-card>
</div>
